/*artist page*/
.artistBackground{
	width:100%;
}

.artistMainPhoto{
	position:relative;
	float:left;
	width:400px;
	height:400px;
}

.artistVideo{
	position:relative;
	width:960px;
	height:400px;
	z-index:100;
}

.bio{
	position:relative;
	width:560px;
	height:345px;
	color:white;
	/*text-align:center;*/
	display:inline-block;
}