/*artist page*/
.parrot{
/*	border-bottom-left-radius: 4px;
  	border-bottom-right-radius: 4px;*/
}

.artistBackground{
	width:100%;
}

.artistMainPhoto{
	position:relative;
	float:left;
	width:400px;
	height:400px;
	margin-top:-50px;
}

.artistVideo{
	position:relative;
	width:960px;
	height:400px;
	z-index:100;
	bottom:30px;
	margin-top:0px;
}

.bio{
	position:relative;
	width:540px;
	height:345px;
	color:white;
	margin-top:-50px;
	margin-left:20px;
	/*text-align:center;*/
	display:inline-block;
}

.socialHolder{
  position:relative;
  left:12px;
}
.socialHolder li{
  display:inline-block;
  padding:8px;
}

.socialHolder li img{
  width:40px;
  filter: invert(100%);
}

.socialHolder li img:hover{
  cursor:pointer;
  filter: invert(80%);
}

