/*mobile*/

#bannerSunMobile{
  position:absolute;
  top:0px;
  left:0px;
  height:620px; 
  width:370px;
  vertical-align: middle;
  z-index:5;
}

#spaceDropMobile{
	top:0px;
  left:0px;
  position:absolute;
  height:620px;
  width:370px;
  overflow:hidden;
}

#moonWrapper{
  position:absolute;
  top:0px;
  left:0px;
  height:620px; 
  width:370px;
  vertical-align: middle;
  background:transparent;
}

#moonMobile {
  position:absolute;
  display:block;
  margin-left:24%;
  margin-top:50%;
  width: 200px;
  height: 200px;
  z-index: 8;
}


#auditorySignMoon{
  position:absolute;
  top:100px;
  left:0;
  right:0;
  width:350px;
  margin:0 auto;
  z-index:100;
}

#auditorySignMoonScroller{
  position:relative;
  top:100px;
  left:0;
  right:0;
  width:350px;
  margin:0 auto;
  z-index:100;
  padding-bottom:90px;
}

#singleSunMobile{
  position:absolute;
  width:160px;
  left:0;
  right:0;
  bottom:100px;
  margin:0 auto;
  z-index:9;
}

#sunMoon{
  position:absolute;
  font-family:'Arial Black';
  left:0;
  right:0;
  bottom:150px;
  margin:auto 0;
  text-align:center;
  width:370px;
  z-index:100;
  font-weight:bold;
  font-size:16px;
  padding-bottom:30px;
  color:#FFB71E;
}

#bannerSideMobile{
  position:absolute;
  top:0px;
  left:470px;
  height:620px; 
  width:370px;
  vertical-align: middle;
  z-index:5;
  background: url(https://i.imgur.com/5IvuL45.gif);	
  /*border: 2px solid white;*/
}


#scrollerSun{
	font-family:'Arial Black';
	font-weight:bold;
	color:#FFB71E;
}


@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(40deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}


@media only screen and (max-width: 420px) {

.frontLogo{
    position:absolute;
    margin-top:-640px;
    margin-left:0px;
    height:100px; 
    width:100px;
    z-index:100;
}

#bannerSunMobile{
	top:-20px;
  height:620px; 
  width:300px;
}

#spaceDropMobile{
  height:620px;
  width:300px;
}

.sunMobile{
	width:280px;
	top:400px;
}

#moonWrapper{
  height:620px; 
  width:300px;
}

#moonMobile {
  position:absolute;
  display:block;
  margin-left:80px;
  margin-top:220px;
  width: 150px;
  height: 150px;
  z-index: 8;
}


#auditorySignMoon{
  width:280px;
  top:140px;
}

#auditorySignMoonScroller{
  position:relative;
  top:100px;
  left:0;
  right:0;
  width:350px;
  margin:0 auto;
  z-index:100;
  padding-bottom:90px;
}

#singleSunMobile{
  width:160px;
  top:430px;
}

#sunMoon{
  position:absolute;
  font-family:'Arial Black';
  left:0;
  right:0;
  bottom:150px;
  margin:auto 0;
  text-align:center;
  width:300px;
  z-index:100;
  font-weight:bold;
  font-size:16px;
  padding-bottom:30px;
  color:#FFB71E;
}

.gridWrapper{
  position:relative;
  /*top:200px;*/
  height:250px;
}

.grid-figure-wrap{
  width: 380px;
  height:380px;
  margin:0 auto;
  margin-left:-27px;
  /*border-right: 4px solid black;*/
}
.titleWrapper{
	width:420px;
}
.newLabelSpacer{
display:none;
}

#newsWrapper{
}

.scrollWrap{
	width:0px;
	height:330px;
}

.artistNewsSpacer{
	display:none;
}

.pn-ProductNav_Wrapper {
	left:0;
    width:420px;
}

.aboutContent{
	height:220px;
}

}





/* Default / Desktop / Firefox */
audio { margin:0 auto; width:100%; display:block; }
#mainwrap { /* add box-shadow or other styles here */ }
#audiowrap { width:100%; background-color:black; margin:0 auto; }
#plwrap { margin:0 auto; }
#tracks { min-height:65px; position:relative; text-align:center; text-decoration:none; top:13px; }
#nowPlay { display:inline; margin:0 auto; width:100%; }
#npTitle { margin:0 auto; padding:12px; text-align:center; width:100%;}
#npAction { padding:21px; position:absolute; }
#plList { margin:0; }
#plList li { background-color:black; cursor:pointer; margin:0; padding:21px 0; }
#plList li:hover { background-color:black; }
.plItem { position:relative; }
.plTitle { left:50px; overflow:hidden; position:absolute; right:65px; text-overflow:ellipsis; top:0; white-space:nowrap; }
.plNum { padding-left:21px; width:25px; }
.plLength { padding-left:21px; position:absolute; right:21px; top:0; }
.plSel,.plSel:hover { background-color:black!important; cursor:default!important; }
a[id^="btn"] { background-color:black; color:#C8C7C8; cursor:pointer; font-size:50px; margin:0; padding:0 27px 11px; text-decoration:none; }
a[id^="btn"]:last-child { margin-left:-4px; }
a[id^="btn"]:hover,a[id^="btn"]:active { background-color:black; }
a[id^="btn"]::-moz-focus-inner { border:0; padding:0; }

/* IE 9 */
html[data-useragent*="MSIE 9.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="MSIE 9.0"] #audiowrap { width:100%; background-color:black; margin:0 auto; }
html[data-useragent*="MSIE 9.0"] #tracks { min-height:57px; top:5px; }
html[data-useragent*="MSIE 9.0"] a[id^="btn"] { background-color:black; }
html[data-useragent*="MSIE 9.0"] a[id^="btn"]:hover { background-color:black; }
html[data-useragent*="MSIE 9.0"] #plList li { background-color:black; }
html[data-useragent*="MSIE 9.0"] #plList li:hover { background-color:black; }
html[data-useragent*="MSIE 9.0"] .plSel,
html[data-useragent*="MSIE 9.0"] .plSel:hover { background-color:black!important; }

/* IE 10 */
html[data-useragent*="MSIE 10.0"] audio {  width:100%; margin:0 auto; display:block;}
html[data-useragent*="MSIE 10.0"] #audiowrap { width:100%; background-color:black; margin:0 auto; }
html[data-useragent*="MSIE 10.0"] #tracks { min-height:60px; top:8px; }
html[data-useragent*="MSIE 10.0"] a[id^="btn"] { background-color:black; }
html[data-useragent*="MSIE 10.0"] a[id^="btn"]:hover { background-color:black; }
html[data-useragent*="MSIE 10.0"] #plList li { background-color:black; }
html[data-useragent*="MSIE 10.0"] #plList li:hover { background-color:black; }
html[data-useragent*="MSIE 10.0"] .plSel,
html[data-useragent*="MSIE 10.0"] .plSel:hover { background-color:black!important; }

/* IE 11 */
html[data-useragent*="rv:11.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="rv:11.0"] #audiowrap { width:100%; background-color:black; margin:0 auto; }
html[data-useragent*="rv:11.0"] #tracks { min-height:60px; top:8px; }
html[data-useragent*="rv:11.0"] a[id^="btn"] { background-color:black; }
html[data-useragent*="rv:11.0"] a[id^="btn"]:hover { background-color:black; }
html[data-useragent*="rv:11.0"] #plList li { background-color:black; }
html[data-useragent*="rv:11.0"] #plList li:hover { background-color:black; }
html[data-useragent*="rv:11.0"] .plSel,
html[data-useragent*="rv:11.0"] .plSel:hover { background-color:black!important; }

/* All Apple Products */
/*html[data-useragent*="Apple"] audio { margin:0; width:100%; }
html[data-useragent*="Apple"] #audiowrap { width:100%; background-color:black; }
html[data-useragent*="Apple"] #tracks { min-height:64px; top:12px; }
html[data-useragent*="Apple"] a[id^="btn"] { background-color:black; }
html[data-useragent*="Apple"] a[id^="btn"]:hover { background-color:black; }
html[data-useragent*="Apple"] #plList li { background-color:black; }
html[data-useragent*="Apple"] #plList li:hover { background-color:black; }
html[data-useragent*="Apple"] .plSel,
html[data-useragent*="Apple"] .plSel:hover { background-color:black!important; }*/

/* IOS 7 */
html[data-useragent*="OS 7"] body { color:#373837; }
html[data-useragent*="OS 7"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="OS 7"] #audiowrap { width:100%; background-color:black; margin:0 auto; }
html[data-useragent*="OS 7"] #tracks { min-height:75px; top:23px; }
html[data-useragent*="OS 7"] a[id^="btn"] { background-color:black; color:#373837; }
html[data-useragent*="OS 7"] a[id^="btn"]:hover { background-color:black; }
html[data-useragent*="OS 7"] #plList li { background-color:black; }
html[data-useragent*="OS 7"] #plList li:hover { background-color:black; }
html[data-useragent*="OS 7"] .plSel,
html[data-useragent*="OS 7"] .plSel:hover { background-color:black!important; }

/* Chrome */
html[data-useragent*="Chrome"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="Chrome"] #tracks { min-height:64px; top:12px; }
html[data-useragent*="Chrome"] #audiowrap { width:100%; background-color:black; margin:0 auto; }
html[data-useragent*="Chrome"] a[id^="btn"] { background-color:black; }
html[data-useragent*="Chrome"] a[id^="btn"]:hover { background-color:black; }
html[data-useragent*="Chrome"] #plList li { background-color:black; }
html[data-useragent*="Chrome"] #plList li:hover { background-color:black; }
html[data-useragent*="Chrome"] .plSel,
html[data-useragent*="Chrome"] .plSel:hover { background-color:black!important; }

/* Chrome / Android / Tablet */
@media only screen and (min-width: 420px) and (max-width: 420px) {
html[data-useragent*="Chrome"][data-useragent*="Android"] body{overflow-x:hidden;}
html[data-useragent*="Chrome"][data-useragent*="Android"] audio {width:100%; margin:0 auto; display:block;}
}

/* Audio Player Media Queries
================================================== */

/* Tablet Portrait */
@media only screen and (min-width: 420px) and (max-width: 420px) {
html[data-useragent*="Chrome"][data-useragent*="Android"] body{overflow-x:hidden;}
html[data-useragent*="MSIE 9.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="MSIE 10.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="rv:11.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="OS 7"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="Chrome"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="Chrome"][data-useragent*="Android"] audio { width:100%; }
}

/* Mobile Landscape */
@media only screen and (min-width: 420px) and (max-width: 420px) {
html[data-useragent*="Chrome"][data-useragent*="Android"] body{overflow-x:hidden;}
html[data-useragent*="MSIE 9.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="MSIE 10.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="rv:11.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="OS 7"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="Chrome"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="Chrome"][data-useragent*="Mobile"] audio { width:100%; }
#npTitle { margin:0 auto; padding:12px; text-align:center; width:100%;}
}

/* Mobile Portrait */
@media only screen and (max-width: 420px) {	
html[data-useragent*="Chrome"][data-useragent*="Android"] body{overflow-x:hidden;}
html[data-useragent*="MSIE 9.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="MSIE 10.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="rv:11.0"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="OS 7"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="Chrome"] audio { width:100%; margin:0 auto; display:block;}
html[data-useragent*="Chrome"][data-useragent*="Mobile"] audio { width:100%; }
#npTitle { margin:0 auto; padding:12px; text-align:center; width:100%;}
}