/*mobile*/

#bannerSunMobile{
  position:absolute;
  top:-30px;
  left:0px;
  height:620px; 
  width:370px;
  vertical-align: middle;
  z-index:5;
}

#spaceDropMobile{
	top:0px;
  left:0px;
  position:absolute;
  height:620px;
  width:370px;
  overflow:hidden;
}

#moonWrapper{
  position:absolute;
  top:0px;
  left:0px;
  height:620px; 
  width:370px;
  vertical-align: middle;
  background:transparent;
}

#moonMobile {
  position:absolute;
  display:block;
  margin-left:24%;
  margin-top:50%;
  width: 200px;
  height: 200px;
  z-index: 8;
}


#auditorySignMoon{
  position:absolute;
  top:100px;
  left:0;
  right:0;
  width:350px;
  margin:0 auto;
  z-index:100;
}

#auditorySignMoonScroller{
  position:relative;
  top:100px;
  left:0;
  right:0;
  width:350px;
  margin:0 auto;
  z-index:100;
  padding-bottom:90px;
}

#singleSunMobile{
  position:absolute;
  width:160px;
  left:0;
  right:0;
  bottom:100px;
  margin:0 auto;
  z-index:9;
}

#sunMoon{
  position:absolute;
  font-family:'Arial Black';
  left:0;
  right:0;
  bottom:150px;
  margin:auto 0;
  text-align:center;
  width:370px;
  z-index:100;
  font-weight:bold;
  font-size:16px;
  padding-bottom:30px;
  color:#FFB71E;
}

#bannerSideMobile{
  position:absolute;
  top:0px;
  left:470px;
  height:620px; 
  width:370px;
  vertical-align: middle;
  z-index:5;
  background: url(https://i.imgur.com/5IvuL45.gif);	
  /*border: 2px solid white;*/
}


#scrollerSun{
	font-family:'Arial Black';
	font-weight:bold;
	color:#FFB71E;
}


@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(40deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

.containerWrapper{
  margin: 0 auto;
  width:481px;
}

.frontLogo{
    position:absolute;
    margin-top:-640px;
    margin-left:0px;
    height:100px; 
    width:100px;
    z-index:100;
}

#bannerSunMobile{
	top:-20px;
  height:620px; 
  width:300px;
}

#spaceDropMobile{
  height:620px;
  width:300px;
}

.sunMobile{
	width:280px;
	top:400px;
}

#moonWrapper{
  height:620px; 
  width:300px;
}

#moonMobile {
  position:absolute;
  display:block;
  margin-left:80px;
  margin-top:220px;
  width: 150px;
  height: 150px;
  z-index: 8;
}


#auditorySignMoon{
  width:280px;
  top:140px;
}

#auditorySignMoonScroller{
  position:relative;
  top:100px;
  left:0;
  right:0;
  width:350px;
  margin:0 auto;
  z-index:100;
  padding-bottom:90px;
}

#singleSunMobile{
  width:160px;
  top:430px;
}

#sunMoon{
  position:absolute;
  font-family:'Arial Black';
  left:0;
  right:0;
  bottom:150px;
  margin:auto 0;
  text-align:center;
  width:300px;
  z-index:100;
  font-weight:bold;
  font-size:16px;
  padding-bottom:30px;
  color:#FFB71E;
}

.gridWrapper{
  position:relative;
  /*top:200px;*/
  height:250px;
}

.grid-figure-wrap{
  width: 380px;
  height:380px;
  margin:0 auto;
  margin-left:-27px;
  /*border-right: 4px solid black;*/
}

.titleWrapper{
	width:481px;
}



.scrollWrap{
	margin-top:0px;
}

#newsWrapper{
	left:0px;
	top:50px;
}

.pn-ProductNav_Wrapper {
	top:65px;
	/*left:-500px;*/
	/*margin-top:-100px;*/
    width:481px;
}

.newsLabelSpacer{
	height:150px;
}

#aboutWrapper{
	top:-60px;
}

.gridWrapperAbout{
	top:-45px;
}

/*.gridWrapperAbout{
  top:0px;
}*/

.aboutContent{
	height:220px;
}

.labelStoreSpacer{
	display:none;
}

#storeWrapper{
	top:-50px;
}

.storeWrapper{
	top:-235px;
}

.grid-figureStore{
	width:481px;
}

.footerWrapper{
  top:-260px;
}

.footerContactOutside{
	margin:0 auto;
}

.footerLink{
  display: inline-block;
  padding:5px;
  /*position: absolute;*/
  bottom:0;
}

.footerLink a{
	font-size:9px;
}

.footerContacts{
	width:400px;
	text-align:center;
}

.footerEmail{
	margin:0 auto;
	display:block;
	/*background-color:red;*/
}

.footerEmail li a{
	margin-left:10px;
	width:100px;
}

}





@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

.containerWrapper{
  margin: 0 auto;
  width:481px;
}

.frontLogo{
    position:absolute;
    margin-top:-640px;
    margin-left:0px;
    height:100px; 
    width:100px;
    z-index:100;
}

#bannerSunMobile{
	top:-20px;
  height:620px; 
  width:300px;
}

#spaceDropMobile{
  height:620px;
  width:300px;
}

.sunMobile{
	width:280px;
	top:400px;
}

#moonWrapper{
  height:620px; 
  width:300px;
}

#moonMobile {
  position:absolute;
  display:block;
  margin-left:80px;
  margin-top:220px;
  width: 150px;
  height: 150px;
  z-index: 8;
}


#auditorySignMoon{
  width:280px;
  top:140px;
}

#auditorySignMoonScroller{
  position:relative;
  top:100px;
  left:0;
  right:0;
  width:350px;
  margin:0 auto;
  z-index:100;
  padding-bottom:90px;
}

#singleSunMobile{
  width:160px;
  top:430px;
}

#sunMoon{
  position:absolute;
  font-family:'Arial Black';
  left:0;
  right:0;
  bottom:150px;
  margin:auto 0;
  text-align:center;
  width:300px;
  z-index:100;
  font-weight:bold;
  font-size:16px;
  padding-bottom:30px;
  color:#FFB71E;
}

.gridWrapper{
  position:relative;
  /*top:200px;*/
  height:250px;
}

.grid-figure-wrap{
  width: 380px;
  height:380px;
  margin:0 auto;
  margin-left:-27px;
  /*border-right: 4px solid black;*/
}

.titleWrapper{
	width:481px;
}



.scrollWrap{
	margin-top:0px;
}

#newsWrapper{
	left:0px;
	top:50px;
}

.pn-ProductNav_Wrapper {
	top:65px;
	/*left:-500px;*/
	/*margin-top:-100px;*/
    width:481px;
}

.newsLabelSpacer{
	height:150px;
}

#aboutWrapper{
	top:-60px;
}

.gridWrapperAbout{
	top:-45px;
}

/*.gridWrapperAbout{
  top:0px;
}*/

.aboutContent{
	height:220px;
}

.labelStoreSpacer{
	display:none;
}

#storeWrapper{
	top:-50px;
}

.storeWrapper{
	top:-235px;
}

.grid-figureStore{
	width:481px;
}

.footerWrapper{
  top:-260px;
}

.footerContactOutside{
	margin:0 auto;
}

.footerLink{
  display: inline-block;
  padding:5px;
  /*position: absolute;*/
  bottom:0;
}

.footerLink a{
	font-size:9px;
}

.footerContacts{
	width:400px;
	text-align:center;
}

.footerEmail{
	margin:0 auto;
	display:block;
	/*background-color:red;*/
}

.footerEmail li a{
	margin-left:10px;
	width:100px;
}

}